.pageHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: max-content;
    background-image: linear-gradient(to right, rgb(255, 0, 111),rgb(255, 196, 0));
}
.head{
    color: white;
    font-size: 2rem;
}
.headCont{
    font-size:5rem;
    font-weight:600;
    color: white;
    text-align: center;
    margin-top:0rem;
    letter-spacing:0.2rem;
}
.description{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* background-color: aqua; */
    margin-top: 5rem;
}
.extraInfo{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: max-content;
    background-color: rgb(241, 241, 241);
    padding: 2rem;
    font-size: 1.5rem;
}
.tableSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 70vh;   
    /* background-color: aqua; */
    margin-top: 5rem;
}
.tableContent{
    width: 90%;
    /* background-color: aquamarine; */
    align-items: center;
    /* padding: 1rem; */
}
.thead  .tdata{
    background-color: black;
    color: white;
}
.tdata{
    align-items: center;
    justify-content: center;
    text-align: center;
    width: max-content;
    background-color: rgb(241, 241, 241);
    /* border-right: 2px solid black; */
    font-size: 1.5rem;
    padding: 1.5rem 0rem 1.5rem 0rem;
    margin-right: 0%;
}
.trow > .tdata:first-child{
    border-bottom-left-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
}
.trow > .tdata:last-child{
    border-bottom-right-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}
.trow{
    margin: 0.5rem 0rem 0.5rem 0rem;
}
.tbody > .trow:hover{
    background-color: rgb(255, 196, 0)!important;
    cursor: pointer;
}





@media (max-width: 1300px){
    .teachs{
        font-size: 0.8rem;
    }
  }
@media (max-width: 450px){
    .teacher{
        flex-direction: column;
    }
  }
@media (max-width: 500px){
    .headers{
        font-size: 0.8rem;
    }

    .score{
      font-size: 0.8rem;
    }
    .teachs{
        font-size: 0.8rem;
    }
  }
@media (max-width: 400px){
    /* .score{
      font-size: 0.7rem;
    }
    
    .headers{
        font-size: 0.7rem;
    } */
  }